<!-- Login -->
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <form class="form-inline" method="post" action="/mygarage">
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
            </ul>
        </nav>
        <h3 class="text-muted"><a href="/">My Garage</a></h3>
    </div>
</div>

<!-- Register-->
<div class="container">
    <h2 class="page-header">Register</h2>
    <form method="post" action="/">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="Password" name="password2">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>