<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>License</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {{#each events}}
                <tr class="info">
                    <td class="info">{{title}}</td>
                    <td class="info">{{description}}</td>
                    <td class="info">{{license}}</td>
                    <td class="info">{{cost}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>